body{text-align: center;background: black;}
.img{position:absolute;z-index:1;}

.game-intro{
    display:inline-block;
    width:1200px; 
    height:800px;
    margin: 0 auto; 
    background-image: url("/docs/assets/images/backgroundIntro.png");
    position:relative;     
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333}

#intro {
    display: flex;
        
    justify-content: center;

}
#game-board {
    position:relative;
    z-index:20;
}

#start-button {    
    margin-top: 550px;
    background: transparent;
    border: none;
    width: 200px;
    height: 75px;
}

#winner {
    color: white;
    font-size: 200px;
}